#Framework Logs 
application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

### Bower ###
bower_components
.bower-cache
.bower-registry
.bower-tmp

### Composer ###
composer.lock
composer.phar
/application/vendor/

